In [ ]:
1.Data Sourcing

# Lending Club Case study

# Data sourcing
loading data from loan_dataset

In [3]:
# import numpy as np
import pandas as pd

loan_data=pd.read_csv(r'C:\Users\lenovo\Desktop\python_codes_intro\loan_dataset.csv') 
print('Type of Data :',type(data))  #it created DataFrame to loan_dataset.csv
print(loan_data)
# getting pandas dataframe <class 'pandas.core.frame.DataFrame'>
#displaying Data
# Loan Data loaded with the help of Pandas library
# Data set used is the dataset provided in Data Understanding section  of case study of our program

Type of Data : <class 'pandas.core.frame.DataFrame'>
            id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      1077501    1296599       5000         5000           4975.0
1      1077430    1314167       2500         2500           2500.0
2      1077175    1313524       2400         2400           2400.0
3      1076863    1277178      10000        10000          10000.0
4      1075358    1311748       3000         3000           3000.0
...        ...        ...        ...          ...              ...
39712    92187      92174       2500         2500           1075.0
39713    90665      90607       8500         8500            875.0
39714    90395      90390       5000         5000           1325.0
39715    90376      89243       5000         5000            650.0
39716    87023      86999       7500         7500            800.0

             term int_rate  installment grade sub_grade  ...  \
0       36 months   10.65%       162.87     B        B2  ...
1       60 months   15.27%        59.83     C        C4  ...
2       36 months   15.96%        84.33     C        C5  ...
3       36 months   13.49%       339.31     C        C1  ...
4       60 months   12.69%        67.79     B        B5  ...
...           ...      ...          ...   ...       ...  ...
39712   36 months    8.07%        78.42     A        A4  ...
39713   36 months   10.28%       275.38     C        C1  ...
39714   36 months    8.07%       156.84     A        A4  ...
39715   36 months    7.43%       155.38     A        A2  ...
39716   36 months   13.75%       255.43     E        E2  ...

      num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
0                    NaN                NaN            NaN               NaN
1                    NaN                NaN            NaN               NaN
2                    NaN                NaN            NaN               NaN
3                    NaN                NaN            NaN               NaN
4                    NaN                NaN            NaN               NaN
...                  ...                ...            ...               ...
39712                NaN                NaN            NaN               NaN
39713                NaN                NaN            NaN               NaN
39714                NaN                NaN            NaN               NaN
39715                NaN                NaN            NaN               NaN
39716                NaN                NaN            NaN               NaN

      pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
0                      0.0       0.0             NaN               NaN
1                      0.0       0.0             NaN               NaN
2                      0.0       0.0             NaN               NaN
3                      0.0       0.0             NaN               NaN
4                      0.0       0.0             NaN               NaN
...                    ...       ...             ...               ...
39712                  NaN       NaN             NaN               NaN
39713                  NaN       NaN             NaN               NaN
39714                  NaN       NaN             NaN               NaN
39715                  NaN       NaN             NaN               NaN
39716                  NaN       NaN             NaN               NaN

      total_bc_limit total_il_high_credit_limit
0                NaN                        NaN
1                NaN                        NaN
2                NaN                        NaN
3                NaN                        NaN
4                NaN                        NaN
...              ...                        ...
39712            NaN                        NaN
39713            NaN                        NaN
39714            NaN                        NaN
39715            NaN                        NaN
39716            NaN                        NaN

[39717 rows x 111 columns]

C:\Users\lenovo\AppData\Local\Temp\ipykernel_17412\2886471304.py:4: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data=pd.read_csv(r'C:\Users\lenovo\Desktop\python_codes_intro\loan_dataset.csv')

In [3]:
print(data.shape)
#no of rows and columns of loaded dataset
we have 39717 rows and 111 columns

(39717, 111)

# Data Cleaning

# Fix rows and columns

In [318]:
#checking for NaN value
import numpy as np
import pandas as pd
Na_Data=data.isna() # it returns True if value isNaN else False
# data having NaN values,all NaN data is replaced with True,else False
print(Na_Data,'Nan values are replaced with true')
# remove Not-verifed applicants from Data 
Na_Data.drop(Na_Data[['verification_status']]=='Not Verified',axis=1) 
#  list of verified Applicants
print(Na_Data ,'verified Applicants')
# number of verified applicants: 
print(Na_Data.shape)
#[39717 rows x 111 columns] verified Applicants
emptyvalues=Na_Data.drpna(axis=1,how=any)
print(emptyvalues.shape)
print(emptyvalues,'empty values removed')

# check still empty values in dataframe exist or not
# if empty values exist it will return true

          id  member_id  loan_amnt  funded_amnt  funded_amnt_inv   term  \
0      False      False      False        False            False  False
1      False      False      False        False            False  False
2      False      False      False        False            False  False
3      False      False      False        False            False  False
4      False      False      False        False            False  False
...      ...        ...        ...          ...              ...    ...
39712  False      False      False        False            False  False
39713  False      False      False        False            False  False
39714  False      False      False        False            False  False
39715  False      False      False        False            False  False
39716  False      False      False        False            False  False

       int_rate  installment  grade  sub_grade  ...  num_tl_90g_dpd_24m  \
0         False        False  False      False  ...                True
1         False        False  False      False  ...                True
2         False        False  False      False  ...                True
3         False        False  False      False  ...                True
4         False        False  False      False  ...                True
...         ...          ...    ...        ...  ...                 ...
39712     False        False  False      False  ...                True
39713     False        False  False      False  ...                True
39714     False        False  False      False  ...                True
39715     False        False  False      False  ...                True
39716     False        False  False      False  ...                True

       num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  \
0                    True            True              True
1                    True            True              True
2                    True            True              True
3                    True            True              True
4                    True            True              True
...                   ...             ...               ...
39712                True            True              True
39713                True            True              True
39714                True            True              True
39715                True            True              True
39716                True            True              True

       pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  \
0                     False      False             True               True
1                     False      False             True               True
2                     False      False             True               True
3                     False      False             True               True
4                     False      False             True               True
...                     ...        ...              ...                ...
39712                  True       True             True               True
39713                  True       True             True               True
39714                  True       True             True               True
39715                  True       True             True               True
39716                  True       True             True               True

       total_bc_limit  total_il_high_credit_limit
0                True                        True
1                True                        True
2                True                        True
3                True                        True
4                True                        True
...               ...                         ...
39712            True                        True
39713            True                        True
39714            True                        True
39715            True                        True
39716            True                        True

[39717 rows x 111 columns] Nan values are replaced with true
          id  member_id  loan_amnt  funded_amnt  funded_amnt_inv   term  \
0      False      False      False        False            False  False
1      False      False      False        False            False  False
2      False      False      False        False            False  False
3      False      False      False        False            False  False
4      False      False      False        False            False  False
...      ...        ...        ...          ...              ...    ...
39712  False      False      False        False            False  False
39713  False      False      False        False            False  False
39714  False      False      False        False            False  False
39715  False      False      False        False            False  False
39716  False      False      False        False            False  False

       int_rate  installment  grade  sub_grade  ...  num_tl_90g_dpd_24m  \
0         False        False  False      False  ...                True
1         False        False  False      False  ...                True
2         False        False  False      False  ...                True
3         False        False  False      False  ...                True
4         False        False  False      False  ...                True
...         ...          ...    ...        ...  ...                 ...
39712     False        False  False      False  ...                True
39713     False        False  False      False  ...                True
39714     False        False  False      False  ...                True
39715     False        False  False      False  ...                True
39716     False        False  False      False  ...                True

       num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  \
0                    True            True              True
1                    True            True              True
2                    True            True              True
3                    True            True              True
4                    True            True              True
...                   ...             ...               ...
39712                True            True              True
39713                True            True              True
39714                True            True              True
39715                True            True              True
39716                True            True              True

       pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  \
0                     False      False             True               True
1                     False      False             True               True
2                     False      False             True               True
3                     False      False             True               True
4                     False      False             True               True
...                     ...        ...              ...                ...
39712                  True       True             True               True
39713                  True       True             True               True
39714                  True       True             True               True
39715                  True       True             True               True
39716                  True       True             True               True

       total_bc_limit  total_il_high_credit_limit
0                True                        True
1                True                        True
2                True                        True
3                True                        True
4                True                        True
...               ...                         ...
39712            True                        True
39713            True                        True
39714            True                        True
39715            True                        True
39716            True                        True

[39717 rows x 111 columns] verified Applicants
(39717, 111)

AttributeError: 'DataFrame' object has no attribute 'drpna'

In [ ]:
# Columns delete :All NA values

# CleanData=data.drop(['funded_amnt_inv','total_bc_limit','total_il_high_credit_limit','pct_tl_nvr_dlq','percent_bc_gt_75','num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq'],axis=1)



# print(Not_verified_Users[['verification_status']],'Not_verified_Users')
# applicants=verified_Users[['verification_status']]==False
# print(verified_Users,'verified_Users')
# verified_applicants=applicants.drop(applicants[['verification_status']]==False,axis=1)
# print(verified_applicants,'verified_applicants')
# print(applicants,'applicants')
# print(verified,'verified data')
 
#verified contains verification_status=True,means they are verified applicants

# applicants=verified[:,verified[['verification_status']]]

# print(verified,'verified')
# print(applicants,'applicants')


# verified_Applicants=data.drop(['verification_status'!= 'Not Verified'],axis=0)
# print(verified_Applicants,'verified Applicants')

# conclusion giving loan to people who has not verified status can cause of loss